
html, body {
  /*background-color: #9ae59a;*/
  background-image: url("../image/bambo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  overflow: scroll;

}

h1 {
  text-align: center;
  color: white;
  /*border: 2px hidden black;*/
  border-radius: 12px;
  background-color: #493724;

  margin-left: 300px;
  margin-right: 300px;
  padding: 30px;
}

button {
  float: right;
  margin-right: 20px;
}

div.form-group {
  float: right;
  border-radius: 10px;
  width: 350px;
  display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 160px;
    overflow: hidden;

    background-color: #493724;
    /*background-color: #7CB4B8;*/
    border-radius: 10px;
    position: fixed;
    float: left;
    margin-left: 30px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

div.content {
  /*background-color: #68B159;*/
  background-color: white;
  border-radius: 10px;
  width: 800px;
  height: 550px;

  
  position: absolute;
  /*margin: auto;*/
  margin-left: 240px;
  margin-right:  350px;
  overflow: scroll;
}
