html, body {
	background-image: url("../images/bamboo.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;

}

h1 {
	text-align: center;
	color: white;
	border-radius: 12px;
	background-color: #493724;
	width: 565px;
	height: 140px; 
	/*height and width prevent h1 from resizing*/
	
	margin-left: 300px;
	margin-right: 300px;
	padding: 30px;
}

/*For Search Bar*/
div.input-group {
	float: right;
	padding: 5px;
}

/*For login button on homepage*/
div.signin {
	float: left;
	padding: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 160px;
	overflow: hidden;
	
	background-color: #493724;
	border-radius: 10px;
	position: fixed;
 	float: left; 
	margin-left: 30px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #555;
	color: white;
}

/* div.content {
	background-color: white;
	border-radius: 10px;
	width: 800px;
	height: 550px;
		
	position: relative; it wouldn't show the space between div and bottom of page when it was absolute
	margin-left: 240px;
	margin-right: 350px;
	margin-bottom: 30px; To have a space between the content div and bottom of page 
	overflow: scroll;
	padding: 30px;
	
	background-color: #e9f5f1;
	
	font-family: "Times New Roman", Times, serif;
	font-variant: small-caps;
	text-indent: 50px;
	text-font: 40px;
	text-align: center;
	
}
 */
 
/*Image Slideshow*/
div.manualSlideshow {
	border-radius: 10px;
	width: 650px;
	height: 420px;
	
	position: relative;
 	margin-left: 260px;
	margin-right: 350px;
	margin-bottom: 30px; 
	/* background-color: lightgray; */
	
}

/*Image Slideshow*/
.button {
	border:none;
	display:inline-block;
	outline:0;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap;
}

/*Image Slideshow*/
.button:hover {
	color:#000!important;
	background-color:#ccc!important;
}

/*Image Slideshow*/
.black, .hover-black:hover{
	color:#fff!important;
	background-color:#000!important;
}

/*Image Slideshow*/
.display-left {
	position:absolute;
	top:50%;
	left:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(-0%,-50%);
}

/*Image Slideshow*/
.display-right {
	position:absolute;
	top:50%;
	right:0%;
	transform:translate(0%,-50%);
	-ms-transform:translate(0%,-50%)
}

/*Menu*/
div.container {
	width: 700px;
	/* height: 800px; */
	margin-left: 250px;
}

/*Menu*/
td,th {
	/* text-indent: 10px; */
	/*   width: 50px;
  	height: 1px; */
  overflow: hidden;
  visibility: visible;
  border: 1px solid black;
  padding: 5px;
  /* background: pink; */
  text-align: center;
  vertical-align: middle;
  text-indent: 5px;
}

/*For Login Page*/
div.userlogin {
	background-color: white;
	border-radius: 10px;
	width: 565px;
	height: 260px;
	
	position: absolute;
	margin-left: 300px;
	margin-right: 400px;
	margin-buttom: 30px;
	padding: 20px;
}

#username, #password {
	width: 525px;
}

#createAcc {
	float: right;
}

/*For Contact Page*/
#narrow {
	float: right;	
	width: 350px;
	margin-left: 750px;
	margin-right: 170px;
	display: inline-block;
	/* border-radius: 12px; */
	position: absolute;
	background: lightblue;
}

/*For Contact Page*/
address {
	text-indent: 30px;
}

/*For Contact Page*/
#wide {
	float: left;
	width: 455px;
	margin-left: 250px;
	display: inline-block;
	/* border-radius: 12px; */
	position: absolute;
	background: lightgreen;
}

/*For Contact Page*/
div.contact {
	padding: 12px 20px;
    margin: 8px 0;
}

/*For Contact Page*/
#contactName, #email, #phoneNumber {
	width: 250px;
	height: 30px;
	padding: 12px 15px;
    margin: 8px 0;
    border: 2px;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: inline-block;
    box-sizing: border-box;
}

/*For Contact Page*/
label {
	padding: 10px;
}

/*For Contact Page*/
.field * {
	vertical-align: middle;
}

/*For Contact Page*/
textarea {
    width: 75%;
    height: 150px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 4px;  
    background-color: #f8f8f8;
    font-size: 16px;
    overflow: hidden;
    resize: none;
}

/*For News Page*/
div.news-content {
	background-color: white;
	border-radius: 10px;
	
	position: relative; 
	margin-left: 240px;
	margin-right: 350px;
	margin-bottom: 30px; 
	padding: 20px;
}

/* About Us Page*/
div.about {
	background-color: #e9f5f1;
	border-radius: 10px;
	width: 650px;
	height: 500px;
	
	position: relative; /*it wouldn't show the space between div and bottom of page when it was absolute*/
	margin-left: 380px;
	margin-right: 350px;
	/*margin-bottom: 10px; /*To have a space between the content div and bottom of page  */
	padding: 10px;
	overflow: scroll;
}
