html, body {
	background-image: url("../images/bamboo.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: 100%;
	height: 100%;

}

h1 {
	text-align: center;
	color: white;
	border-radius: 12px;
	background-color: #493724;
	width: 565px;
	height: 140px; 
	/*height and width prevent h1 from resizing*/
	
	margin-left: 300px;
	margin-right: 300px;
	padding: 30px;
}

/*For Search Bar*/
div.input-group {
	float: right;
	padding: 5px;
}

/*For login button on homepage*/
div.signin {
	float: left;
	padding: 5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 160px;
	overflow: hidden;
	
	background-color: #493724;
	border-radius: 10px;
	position: fixed;
 	float: left; 
	margin-left: 30px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #555;
	color: white;
}

div.content {
	background-color: white;
	border-radius: 10px;
	width: 800px;
	height: 550px;
	/*w: 800px h: 550px;*/
	
	position: relative; /*it wouldn't show the space between div and bottom of page when it was absolute*/
	margin-left: 240px;
	margin-right: 350px;
	margin-bottom: 30px; /*To have a space between the content div and bottom of page  */
	overflow: scroll;
	padding: 10px;
}

/*For Login Page*/
div.userlogin {
	background-color: white;
	border-radius: 10px;
	width: 565px;
	height: 260px;
	
	position: absolute;
	margin-left: 300px;
	margin-right: 400px;
	margin-buttom: 30px;
	padding: 20px;
}

#username, #password {
	width: 525px;
}

#createAcc {
	float: right;
}

/*For Contact Page*/
#narrow {
	float: right;	
	width: 350px;
	margin-right: 170px;
	display: inline-block;
	/* border-radius: 12px; */
	background: lightblue;
}

/*For Contact Page*/
address {
	text-indent: 30px;
}

/*For Contact Page*/
#wide {
	float: left;
	width: 455px;
	margin-left: 250px;
	display: inline-block;
	/* border-radius: 12px; */
	background: lightgreen;
}

/*For Contact Page*/
div.contact {
	padding: 12px 20px;
    margin: 8px 0;
}

/*For Contact Page*/
#contactName, #email, #phoneNumber {
	width: 250px;
	height: 30px;
	padding: 12px 15px;
    margin: 8px 0;
    border: 2px;
    border-radius: 4px;
    background-color: #f8f8f8;
    display: inline-block;
    box-sizing: border-box;
}

/*For Contact Page*/
label {
	padding: 10px;
}

/*For Contact Page*/
.field * {
	vertical-align: middle;
}

/*For Contact Page*/
textarea {
    width: 75%;
    height: 150px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: 2px;
    border-radius: 4px;  
    background-color: #f8f8f8;
    font-size: 16px;
    overflow: hidden;
    resize: none;
}

/*For News Page*/
div.news-content {
	background-color: white;
	border-radius: 10px;
	
	position: relative; 
	margin-left: 240px;
	margin-right: 350px;
	margin-bottom: 30px; 
	padding: 20px;
}
